<div>
  <h1>Task Manager</h1>

  <h3>Description</h3>
  <ul>
    <li>
      <h5>You can create tasks</h5>
    </li>
    <li>
      <h5>You can assign tasks to team members</h5>
    </li>
    <li>
      <h5>You can edit exisiting tasks</h5>
    </li>
    <li>
      <h5>You can change the status of tasks</h5>
    </li>
    <li>
      <h5>You can sort tasks by team members, task type, status, date, entity name, contact person</h5>
    </li>
    <li>
      <h5>You can filter tasks by team members, task type, status, date, entity name, contact person</h5>
    </li>
    <li>
      <h5>You can delete tasks</h5>
    </li>
  </ul>
</div>
